/* 
    Document   : newcss
    Created on : 05-feb-2012, 13:02:20
    Author     : Felipe
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body { 
    text-align: left;
    
    background-color: #036fab;
 
   
    font-size: 20px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
      
    position: absolute;
                left: 50%;
                top: 50%;
                width: 300px;
                height: 200px;
                margin-top: -100px;
                margin-left: -150px;
 
 
}


.Button

{
    background: #222 url(boton.jpg) repeat-x;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1px solid rgba(0,0,0,0.25);
position: relative;
cursor:pointer;

}




.Form

{background: #222 ;
display: inline-block;
padding: 5px 10px 6px;
color: #FFF;
text-decoration: none;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-top: 0px;
border-left: 0px;
border-right: 0px;
 

position: relative;
cursor:pointer;

float:left;
  
   cursor:pointer;
   
  
   margin:auto;
   text-align:right;

}
.Error{
   color: red;
}


